.products {

  margin: 100px 0 80px;

  @media (max-width: 500px) {
    margin-top: 60px;
  }

  .productsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    @media (max-width: 1035px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }

  }

}