.reviews {
  margin-top: 105px;

  @media (max-width: 500px) {
    margin-top: 30px;
  }

  .reviewsWrapper {
    display: flex;
    align-items: center;
    // max-width: 70%;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
  }
}